<section class="w-full bg-stone-800 text-white py-16 px-4">
  <div class="max-w-[1280px] mx-auto">
    <!-- Section Title -->
    <div class="text-center mb-16">
      <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold">
        Dive into our latest <span class="text-yellow-400">portfolio</span> updates
      </h2>
    </div>

    <!-- Portfolio Items -->
    <div class="flex flex-col gap-16">
      {% set projects = [
        {
          category: 'Web Development',
          title: 'POS',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
          image: 'pos.png',
          url: '#'
        },
        {
          category: 'App Development',
          title: 'Finance Tracker',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
          image: 'finance-tracker.png',
          url: '#'
        },
        {
          category: 'Web Development',
          title: 'Delivery App',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
          image: 'delivery-app.png',
          url: '#'
        },
        {
          category: 'Web Development',
          title: 'Habit Tracker',
          description: 'This habit tracker app is a lightweight and user-friendly tool designed to help users build better daily routines and stay consistent with their goals. Whether it\'s health, productivity, wellness, or personal development, this app makes habit-building simple and visual.',
          image: 'habit-tracker.png',
          url: '#'
        }
      ] %}

      {% for project in projects %}
        <div class="grid md:grid-cols-2 gap-8 items-center">
          <!-- Text -->
          <div>
            <p class="inline-block bg-amber-400 text-black text-xs font-semibold px-3 py-1 rounded-full mb-2 w-fit">
             {{ project.category }}
            </p>
            <h3 class="text-xl sm:text-2xl font-semibold mb-2">{{ project.title }}</h3>
            <p class="text-sm text-gray-300 mb-4">{{ project.description }}</p>
            <a href="{{ project.url }}" class="inline-block bg-sky-500 hover:bg-yellow-600 text-white text-xs font-medium py-2 px-4 rounded-3xl">
              View case study →
            </a>
          </div>

          <!-- Image -->
          <div class="w-full">
            <img src="{{ theme.link }}/assets/{{ project.image }}" alt="{{ project.title }}" class="w-full max-w-md mx-auto rounded-md">
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Button -->
    <div class="text-center mt-16">
      <a href="/portfolio" class="inline-block bg-cyan-500 hover:bg-yellow-600 text-black font-semibold py-3 px-6 rounded-3xl">
        Read More
      </a>
    </div>
  </div>
</section>
